<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

    <title>MediHunt</title>
  </head>
  <body>
    <h1 class="h1 p-3 text-primary">Welcome to MediHunt</h1>
    <form action="{{ url_for('handle_data') }}" method='POST'>
      <div class="form-group d-flex mx-auto p-3">
        <select id="type_of_medicine" name="type" class="form-control w-auto border border-primary">
          <option value="tablet" class="form-control">Tablet</option>
          <option value="syrup" class="form-control">Syrup</option>
          <option value="lotion" class="form-control">Lotion</option>
          <option value="injection" class="form-control">Injection</option>
          <option value="capsule" class="form-control">Capsule</option>
          <option value="other" class="form-control">Other</option>
        </select>
        <div class="col-6">
          {% if search %}
            <input id="name" name="name" type="text" class="form-control border border-primary" placeholder="Medicine Name and Other Details" value="{{ search }}"/>
          {% else %}
          <input id="name" name="name" type="text" class="form-control border border-primary" placeholder="Medicine Name and Other Details"/>
          {% endif %}
        </div>
        <input type="submit" name = "hunt" value="Hunt" class="form-control w-auto btn btn-primary"/>
      </div>
    </form> 

    {% if src %}
      <img class = 'img-responsive img-thumbnail' src = "{{ src }}" alt = 'Medicine_Image' style="display: block; margin-left: auto; margin-right: auto; width: 200px; height: 200px">
    {% endif %}

    {% if data %}
    <table class = "table table-bordered">
      <tr class="d-flex w-auto">
        <th class="col w-auto">
          Apollo Pharmacy
        </th>
        <th class="col w-auto">
          Pharmeasy
        </th>
        <th class="col w-auto">
          Netmeds
        </th>
        <th class="col w-auto">
          1mg
        </th>
      </tr>
    
      {% for dataObj in data %}
      <tr class="d-flex w-auto">
        <td class="col w-auto">
          <a href="{{ dataObj.apollo.link }}" target="_blank">
            <div class="d-flex">
              <div class="col-8">
                {{ dataObj.apollo.name }}
              </div>
              <div class="col-4">
                {{ dataObj.apollo.price }}
              </div>
            </div>
          </a>
        </td>
        <td class="col w-auto">
          <a href="{{ dataObj.pharmeasy.link }}" target="_blank">
            <div class="d-flex">
              <div class="col-8">
                {{ dataObj.pharmeasy.name }}
              </div>
              <div class="col-4">
                {{ dataObj.pharmeasy.price }}
              </div>
            </div>
          </a>
        </td>
        <td class="col w-auto">
          <a href="{{ dataObj.netmeds.link }}" target="_blank">
            <div class="d-flex">
              <div class="col-8">
                {{ dataObj.netmeds.name }}
              </div>
              <div class="col-4">
                {{ dataObj.netmeds.price }}
              </div>
            </div>
          </a>
        </td>
        <td class="col w-auto">
          <a href="{{ dataObj.onemg.link }}" target="_blank">
            <div class="d-flex">
              <div class="col-8">
                {{ dataObj.onemg.name }}
              </div>
              <div class="col-4">
                {{ dataObj.onemg.price }}
              </div>
            </div>
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
  </body>
</html>